.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background: var(--harvest-gold);
  transition: background-color 0.3s;
}

.hero-content {
  color: var(--ghostwhite);
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-content h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-image {
  max-width: 35%;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  color: var(--ghostwhite);
}

/* Modo escuro */
body.modo-escuro .hero {
  background: var(--onyx);
}