/* Modo Claro */
.btn-modo-escuro {
  width: 4rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--harvest-gold);
  color: var(--ghostwhite);
  cursor: pointer;
  margin-right: 1rem;
  user-select: none;
}

/* Modo Escuro */
body.modo-escuro .btn-modo-escuro {
  background-color: var(--onyx);
}
